/backend/.idea
/backend/.venv
/backend/README.md
/backend/justfile
/backend/docker-compose.dev.yaml
/backend/.gitignore
/backend/.dockerignore
/backend/.env
/backend/.env.dist
/backend/deploy/dev/postgres
/backend/deploy/dev/redis
/backend/.ruff_cache
/backend/.mypy_cache
/backend/LICENSE
/backend/tests
.idea
.venv
venv
README.md
LICENSE
.github
.gitlab
