site_name: PixErase Documentation
site_description: Documentation for the PixErase.
site_author: Danil Kovalev
site_url: https://github.com/C3EQUALZz/PixErase

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.sections
    - navigation.expand

repo_url: https://github.com/C3EQUALZz/PixErase
repo_name: C3EQUALZz/PixErase

nav:
  - Home: index.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            heading_level: 3
            show_root_heading: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.inlinehilite
  - attr_list
  - def_list
  - smarty
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
